<div class="col-xs-10 col-xc-offset-1 about central">
  <h1>About Splurty</h1>
  <p class = "just">
    Splurty was built by <a target="_blank" href="http://github.com/jyoungleex/">Jessica</a>, with the help of the Firehose Project. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum augue id velit tincidunt, ut pharetra ipsum ultricies. Nulla facilisi.
  <br />
  <br />
    Nam quam nisi, condimentum sit amet dapibus a, lobortis eget tortor. Ut consectetur enim mauris, et blandit ligula porttitor fringilla. Nulla tempus vel nunc in congue.
  </p>
  
  <br/>
  <p>
    Want to get started as a web developer? Start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4 col-sm-offset-1">
    <%= image_tag 'jess.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h2>Jessica Lee</h2>
    <p class = "just">
      i hate writing bios so much kill me lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum augue id velit tincidunt, ut pharetra ipsum ultricies. Nulla facilisi. Nam quam nisi, condimentum sit amet dapibus a, lobortis eget tortor.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>